@import url(https://fonts.googleapis.com/css2?family=Protest+Riot&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap);
.principal{
    background-image: url(https://img.freepik.com/vector-gratis/patron-codigo-binario-sobre-fondo-azul-oscuro_53876-116183.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}  
.titleprincipal{
    color:rgb(255, 255, 255);
    text-align: center;
    font-size: 50px;
    text-shadow: 4px 4px 10px red;
    font-family: "Protest Riot", sans-serif;
    text-decoration: underline;
}
button{
    font-size: 30px;
    text-align: center;
    background-color: burlywood;
    width: 150px;
    height: 40px;
}
.linea{
    text-decoration: none;
    color: red;
}
.title2{
    color: rgb(251, 255, 4);
}
.description0{
    color: white;
}
ul{
    color: rgb(251, 255, 4);
}
a{
    color:chocolate;
}
p{
    color: rgb(242, 123, 123);
    font-size: 25px;
    font-family: monospace;
}
.textp{
    color: coral;
    font-size: 600;
    font-style: oblique;
}
#name{
    color: aqua;
    font-size:400;
    font-stretch: expanded;
    text-align: center;
}
p span{
    color: greenyellow;
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
}
div > a{
    color: white;
    font-size: 35px;
}
div.ejemplo h2 + h3{
    color: rgb(7, 230, 178);
    font-weight: 1500;
    font-size: 25px;    
}
div h2 ~ h3{
    color: rgb(199, 148, 246);
    font-size: 28px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.uno, .dos, .tres, h3{
    color:rgb(243, 255, 110);
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    font-weight: 800;
}
